html {
    background-image: url(./Img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

#reg_box {
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 161, 165, 0.8);
    width: 25%;
    height: 65vh;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

#main_title {
    margin-bottom: 4rem;
}

.list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
    text-align: start;
    font-size: larger;
}

#form {
    width: 70%;
}

.title {
    color: white;
}

.label {
    margin-bottom: 2%;
}

#check {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.anim {
    transition: 400ms;
    transform: translate(-1rem, -2.2rem);
}

.label_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#username, #pass, #mail{
    width: 0%;
    visibility: hidden;
    transition: 600ms;
}

#username_list, #pass_list {
    margin-bottom: 5%;
}

#mail_list {
    margin-bottom: 1.5rem;
}

#username_icon, #pass_icon, #mail_icon {
    height: 32px;
    width: 32px;
    position: relative;
    top: 2rem;
    right: 1rem;
    transition: 200ms;
}

#username_label, #pass_label, #mail_label {
    position: relative;
    top: 2.2rem;
    left: 1rem;
    cursor: text;
    transition: 1s;
}

input {
    font-family: inherit;
    border-radius: 5px;
    height: 32px;
    border-style: solid;
    border: none;
    border-width: 1px;
    outline: 0%;
    padding-left: 10px;
    font-size: medium;
    font-weight: 550;
}

input:focus{
    outline: none;
    border: rgb(66, 63, 63) solid 1px;
}

#checkbox {
    margin-right: 8px;
}

#submit {
    background-color: rgb(17, 123, 14);
    height: 48px;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: large;
    box-shadow: 2px solid white;
    border-style: solid;
    border: none;
    border-width: 1px;
}

#submit:hover {
    cursor: pointer;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px
}
 
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-linkedin {
    background: #007bb5;
}

#created {
    position: absolute;
    top: 90%;
    left: 85%;
}

@media(max-width: 1023px) {
    html {
        background-position: fixed;
    }

    #reg_box {
        width: 70%;
    }

    #username_label, #pass_label, #mail_label {
        top: 0%;
        left: 0%;
    }

    #username_icon, #pass_icon, #mail_icon {
        visibility: hidden;
    }

    #username, #pass, #mail {
        visibility: visible;
        width: 100%;
    }

    #created {
        top: 93%;
        left: 65%
    }
}

@media(max-width: 768px) {
    #created {
        right: 0%;
        top: 90%
    }
}